
* {margin: 0; padding: 0; box-sizing:border-box;}

@import url(http://fonts.googleapis.com/css?family=Raleway:200,400,600);

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500italic,500);

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

body
{
	background-size: cover;
	background-color: rgba(255, 255, 255, 1);
	font-family: 'Oswold', Arial;
	font-weight: 200;
}
.container{
	margin: 0 auto;
	width: 960px;
}
h1, h3, h2 {
	font-weight: bold;
}
h1 {
	font-family: 'Roboto', Arial;
	background-color: rgba(28, 28, 28, 1);
	font-size: 2.5em;
	font-weight: 550;
	font-style: italic;
	padding: 0.3em;
	color: #ffffff;
	text-transform: uppercase;
}
h2{
	font-size: 1.5em;
	padding: 1em, 0em;
	color: #000000;
	letter-spacing: .2em;
	text-transform: uppercase;

}
h3 {
	line-height: 2.5em;
	color: #000000;
	padding: 5px 5px 0px 5px;
}
p {
	color: #000000;
	font-size: 1em;
	font-weight: 100;
	line-height: 1.5em;
	margin-top: 1em;
	max-width: 1000px;
	padding: 0px 5px 9px 5px;
}
ul{
	color: #000000;
	font-size: 1em;
	font-weight: 100;
	margin-top: 1.5em;
	line-height: 1.5em;
	list-style-position: inside;
	max-width: 100%;
	padding: 0 0.2em 1em 0.2em;
}
a {
	color: #000000;
	text-decoration: none;
}
.columns {
	float:left;
	padding:0 1em;
}
.columns-two-thirds {
	width: 75%;
	float:left;
	padding:0 1em;
}
.columns-one-third {
	width: 25%;
	float:left;
	padding:0 1em;
}
.columns-one-quarter {
	width: 25%;
	float:left;
	padding:0 1em;
	overflow: hidden;
}
#hero{
	width: 100%;
	max-height: 80%;
	padding: 0;
	overflow: hidden;
}
#hero img {
	width: 100%;
}
.imgtile{
	max-width: 85%;
	padding-bottom: 1em;
	overflow-y: hidden; 
}
.h1thin{
	font-weight: lighter;
}
#slogan {
	font-size: 1.2em;
	font-style: italic;
	padding-bottom: 6px;
	padding-left: 8px;
	font-family: 'Raleway', Arial;
	font-weight: 400;
	float: left;
	clear: both;
}
.phone {
	margin: 0 0 0 2.5em;
}
.profile {
	padding-bottom: 20px;
}
.contact{
	border: .1em black solid;
	border-radius: 5px;
	color: #000000;
	padding: .2em .2em .2em .2em;
	display: block;
	text-align: center;
	text-decoration: none;
	width:60%;
	margin: 0 0 .3em .1em;"
}

.border
{
	border-style:solid;
	border-color:#000;
} 
p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}
nav {
	font-size: 1.2em;
    float: right;
}
nav a {
	text-decoration: none;
	color: #000000;
	margin: 1em;
	padding: .3em;
	display: inline-block;
}
section {
	  background: #d3d3d3;
	  color: #fff;
	  overflow: auto;
}
div {
	font-size: 1.2em;
	width: 46%;
	padding: 2%;
	display: inline-block;
}
.phone-no{
	float: right;
	font-style: normal;
	font-size: .5em;
	padding-top: 0em;
}
#about {
	float: left;

}
#history {
	float: right;
}
footer {
	font-size: .5em;
	font-weight: 100;
	line-height: 1.5em;
	margin-top: 4em;
	text-align: center;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	clear: both;
}
a:hover{
	background-color: #d3d3d3;
}
h1 a {
	color: white;
}
.map {
	width: 80%;
}
.clearfix {   overflow: auto;   zoom: 1; }

@media only screen and (max-width: 700px) {
  .container {
	width: auto;
	}
	.columns {
	float: none;
	width: auto;
	}
  .columns-one-third{
	float:none;
	width: auto;
	padding-left: 1em;
	margin: 1em;
	}
  .columns-two-thirds{
	float: none;
	width: auto;
	}
  .columns{
	margin: 0 1em;
	}
  .contact {
	max-width: 50%;
	padding-left: .5em;
	margin: 0 0 0 .5em;
    width: 50%;
	}
  .chris{
	max-width: 30%;
	padding-left: 1em;
	}
  nav {
    float: none;
    font-size: 1em;
  }	
  nav a{
    float: none;
  }
  img {
    width: 100%;
  }
  h1{
  	font-size: 1.9em;
  }
  h2 {
  	font-size: 1.2em;
  }
  h3{
	font-size: 1em;
	padding-top: .2em;
	}
  p, ul{
	font-size: .9em;
	line-height: 1.5em;
	}
  #slogan {
	font-size: 1em;
	}
  .phone-no{
  	float: none;
	text-align: right;
 	padding-left: 1em;
  	}
  	.phone {
  	padding-left: 1em;
  	line-height: 0.5em;
  	}
   }
@media only screen and (max-width: 320px) {
  h1{
  	font-size: 1.6em;
  }
  h2 {
    font-size: 0.6em;
  }
  h3{
  	font-size: 0.5em;
  	line-height: 1em;
  }
  p, ul, h2 {
    margin: 1.8em .6em 0;
    font-size: .8em;
  }
  li {
    width: 80%;
    padding: .5em;
    line-height: 2em;
  }
  nav {
	font-size: .6em;
	float: none;
  }
  nav a {
    margin: 0 1em 1em;
    font-size: .6em;
  }
  img {
    width: 100%;
  }
  #slogan{
  	display: none;
  }
  .columns-one-quarter {
	float:none;
	width: auto;
	width: 100%;
	}
  .columns-one-third{
  	padding: 0 0 0 .5em;
  	margin-left: 1em;
  }
  .phone {
	padding-left: .5em;
	}
  .contact {
	padding-left: .5em;
	width: 50%;
	}
	.imgtile{
	width: auto;
	}
	.map{
		width: 95%;
	}
  }
