
* {margin: 0; padding: 0; box-sizing:border-box;}

@import url(http://fonts.googleapis.com/css?family=Raleway:200,400,600);

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500italic,500);

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

body
{
	background-size: cover;
	background-color: rgba(244, 242, 237, 0.3);
	font-family: 'Oswold', Arial;
	font-weight: 200;
}
.container{
	margin: 0 auto;
	width: 960px;
	padding: 0em 1em 0em 1em; 
}
h1, h3, h2 {
	font-weight: bold;
}
h1 {
	font-family: 'Roboto', Arial;
	background-color: rgba(28, 28, 28, 1);
	font-size: 2.5em;
	font-weight: 550;
	font-style: italic;
	padding: 0.3em;
	color: #ffffff;
	text-transform: uppercase;
}
h2{
	font-size: 1.5em;
	padding: 1em, 0em;
	color: #8C001A;
	letter-spacing: .2em;
	text-transform: uppercase;

}
h3 {
	line-height: 2.5em;
	color: #000000;
	padding: 5px 5px 0px 5px;
}
p {
	color: #000000;
	font-size: 1em;
	font-weight: 100;
	line-height: 1.4em;
	margin-top: 1em;
	max-width: 1000px;
	padding: 0px 5px 9px 5px;
}
.welcome{
	width: 70%;
	text-align: left;
	margin: .5em;
}
ul{
	color: #000000;
	font-size: 1em;
	font-weight: 100;
	margin-top: 1.5em;
	line-height: 1.5em;
	list-style-position: inside;
	max-width: 100%;
	padding: 0 0.2em 0.2em 0.2em;
}
a {
	color: #000000;
	text-decoration: none;
}
.columns {
	padding:0 0em 0 0em;
	margin: 0 8px 0 8px;
}
.columns-two-thirds {
	width: 75%;
	float:left;
}
.columns-one-third {
	width: 25%;
	float:left;
}
.columns-one-quarter {
	width: 25%;
	float:left;
	overflow: hidden;
}
#hero{
	width: 100%;
	max-height: 80%;
	padding: 0;
	overflow: hidden;
}
#hero img {
	width: 100%;
}
.imgtile{
  max-width: 160px;
  padding-bottom: 1em;
  overflow-y: hidden;
  display: inline;
  padding: 0 .1em;
  overflow: hidden;
}
.img-pair {
  display: inline;
  text-align: center;
}
.h1thin{
	font-weight: lighter;
}
#slogan {
	font-size: 1.2em;
	font-style: italic;
	padding-bottom: 6px;
	padding-left: 8px;
	font-family: 'Raleway', Arial;
	font-weight: 400;
	float: left;
	clear: both;
}
.phone {
	margin: 0 0 0 2.5em;
}
.profile {
	padding-bottom: 20px;
}
.contact{
	border: .1em black solid;
	border-radius: 5px;
	color: #000000;
	padding: .2em .2em .2em .2em;
	display: block;
	text-align: center;
	text-decoration: none;
	width:60%;
	margin: 0 0 .3em .1em;"
}

.border
{
	border-style:solid;
	border-color:#000;
} 
p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}
nav {
	font-size: 1.2em;
    float: right;
}
nav a {
	text-decoration: none;
	color: #000000;
	margin: 1em;
	padding: .3em;
	display: inline-block;
}
section {
	  background-color: rgba(237, 237, 237, 1);
	  color: blue;
	  overflow: auto;
}
div {
	font-size: 1.2em;
	width: 46%;
	padding: 2%;
	display: inline-block;
}
/************
Hamburger menu
*************/
.mobile-nav{
	display: none;
}
.menu-btn div {
position: absolute;
left: 100%;
top: 64%;
padding-right: 8px;
margin-top: -0.50em;
line-height: 0.5em;
font-size: 10px;
font-weight: 200;
vertical-align: middle;
z-index: 99;
}
 
.menu-btn span {
display: block;
width: 19px;
height: 3px;
margin: 4px 0;
background: rgb(0,0,0);
z-index: 99;
}
 
.responsive-menu{
display: none;
}
 
.expand {
display: block !important;
}
/************
Menu end
*************/
.phone-no{
	float: right;
	font-style: normal;
	font-size: .5em;
	padding-top: 0em;
}
#about {
	float: left;

}
#history {
	float: right;
}
footer {
	font-size: .7em;
	font-weight: 100;
	line-height: 1.5em;
	margin-top: 4em;
	text-align: center;
	background: grey;
	padding: 1.5em;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	clear: both;
}
a:hover{
	background-color: #878787;
}
h1 a {
	color: white;
}
.chris{
	max-width: 30%;
	padding-right: .5em;
	vertical-align: middle;
	}
 .calf{
  	margin: .5em 0em .5em 1em;
  	float: right;
  }	
.map {
	width: 80%;
}
.clearfix {   overflow: auto;   zoom: 1; }

@media only screen and (max-width: 680px) {
  .container {
	width: auto;
	}
	.columns {
	float: none;
	width: auto;
	margin: 8px;
	}
  .columns-one-third{
	float:none;
	width: auto;
	padding-left: 1em;
	}
  .columns-two-thirds{
	float: none;
	width: auto;
	}
  .contact {
	max-width: 50%;
	margin: 0 0 0 .5em;
    width: 50%;
	}
  nav {
    float: none;
    font-size: 1em;
  }	
  nav a{
    float: none;
  }
  #hero img {
    width: 100%;
  }
  h1{
  	font-size: 1.9em;
  }
  h2 {
  	font-size: 1.2em;
  	line-height: 1.5em;
  }
  h3{
	font-size: 1em;
	padding-top: .2em;
	}
  p, ul{
	font-size: .9em;
	line-height: 1.5em;
	}
  #slogan {
	font-size: 1em;
	}
  .phone-no{
  	float: none;
	text-align: right;
 	padding-left: 1em;
  	}
  	.phone {
  	padding-left: 1em;
  	line-height: 0.5em;
  	}
  	.calf{
  		max-width: 50%;
  	}
  	.imgtile {
  float: none;
  display: inline;
	}
	.img-pair {
  width: 100%;
  display: block;
	}
   }
@media only screen and (max-width: 330px) {
.mobile-nav{
	display: block;
	font-size: .9em;
	margin: 0em;
	padding: 0.2em;
}
.phone-no{
	display: none;
	}
  h1{
  	font-size: 1.6em;
  }
  h2 {
    font-size: 0.6em;
  }
  h3{
  	font-size: 0.9em;
  	line-height: 1em;
  }
  p, ul, h2 {
    margin: 1.8em .6em 0;
    font-size: .8em;
  }
  li {
    width: 80%;
    padding: .5em;
    line-height: 2em;
  }
  nav {
  	display: none;
	font-size: .6em;
	float: none;
  }
  nav a {
    margin: 0 1em 1em;
    font-size: .2em;
  }
  img {
    width: 100%;
  }
  #slogan{
  	display: none;
  }
  .columns-one-quarter {
	float:none;
	width: auto;
	width: 100%;
	}
  .columns-one-third{
  	padding: 0 0 0 .5em;
  	margin-left: 1em;
  }
  .phone {
	padding-left: .5em;
	}
  .contact {
	padding-left: .5em;
	width: 50%;
	}
	.imgtile{
	width: auto;
	}
	.map{
		width: 95%;
	}
  }
