body
{
	background-color: #36454f;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 100;
	text-decoration: none;
}
h1, h3 {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
}
h1 {
	font-size: 28px
}
p {
	color: #ffffff;
	font-size: 14px;
}
ul{
	color: #ffffff;
	font-size: 14px
}
a {
    color: #ffffff;
}

#slogan {
	font-size: 18px;
	font-style: italic;
}