
* {margin: 0; padding: 0; box-sizing:border-box;}

@import url(http://fonts.googleapis.com/css?family=Raleway:200,400,600);

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500italic,500);

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

body
{
	background-size: cover;
	background-color: rgba(255, 255, 255, 1);
	font-family: 'Oswold', Arial;
	font-weight: 200;
}
.container{
	margin: 0 auto;
	width: 960px;
}
h1, h3, h2 {
	padding: 1em 1em 1em 0em;
	font-weight: bold;
}
h1 {
	font-family: 'Roboto', Arial;
	background-color: rgba(28, 28, 28, 1);
	font-size: 40px;
	font-weight: 300;
	padding: 0.3em;
	color: #ffffff;
	letter-spacing: .3em;
}
h2{
	font-size: 1.5em;
	padding: 3em, 0;
	color: #000000;
	font-weight: 300;

}
h3 {
	padding: 0px 5px 0px 5px;
	color: #000000;
	font-weight: 300;
	letter-spacing: .2em;
}
p {
	color: #ffffff;
	font-size: 15px;
	font-weight: 100;
	line-height: 1.5em;
	margin-top: 0.6em;
	max-width: 1000px;
	padding: 5px;
}
ol{
	color: #ffffff;
	font-size: 15px;
	font-weight: 100;
	margin-top: 1.5em;
	line-height: 1.5em;
	list-style-position: inside;
	max-width: 1000px;
	padding: 2px;
}
a {
	color: #ffffff;
	text-decoration: none;
	padding: .3em;
}
.h1thin {
font-weight: bold;
}
.columns {
	width: 33.33%;
	float:left;
	padding:0 1em;
}
.columnsa {
	width: 70%;
	float:left;
	padding:0 1em 1em 0em;
}
.columnsb {
	width: 30%;
	float:left;
	padding:0 1em;
}
#hero{
	width: 100%;
}

#slogan {
	font-size: 16px;
	padding: 8px 10px 1px 0px;
	font-family: 'Raleway', Arial;
	font-weight: 400;
	float: right;
	color: #468999;
}
#history{
	width: 960px;
}
.border
{
border-style:solid;
border-color:#000;
} 
p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}
nav {
	  font-size: 1.2em;
    float: left;
}
nav a {
	text-decoration: none;
  color: #000000;
   margin: 1em;
  display: inline-block;
}
section {
  background: #d3d3d3;
  color: #fff;
  overflow: auto;
}
div {
	font-size: 1.2em;
	width: 46%;
	padding: 2%;
	display: inline-block;
}
#about {
	float: left;

}
#history {
	float: right;
}
#footer {
	font-size: 12px;
	font-weight: 100;
	padding: 5px;
	margin-top: 5px; 
	color: black;
	clear: both;
	float: right;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
a:hover{
	background-color: #e4e4e4;
}